@model string

<div class="InfoColumnContainer">

    <h2><a href="/articles/news/">Real Estate Articles</a></h2>
    <ul class="ArrowBullet">
        <li><a href="/articles/educational/2/635/should-i-buy-a-turn-key-rental-property-or-a-fixer-upper/">Should I Buy a Turn-Key Rental Property or a Fixer-Upper</a></li>

        <li><a href="/articles/educational/4/633/true-stories-the-cost-of-eviction/">True Stories: The Cost of Eviction</a></li>

        <li><a href="/articles/landlord-tenant-laws/112/pennsylvania-landlord-tenant-law-and-regulations/">Pennsylvania Landlord Tenant Law and Regulations</a></li>
    </ul>
</div>
