@model string

<div class="InfoColumnContainer">
    <h2><a href="/forum/">From The Forums</a></h2>

    <h3><a href="/forum/">Advice &amp; Opinions</a></h3>

    <div style="margin: 0 0 6px 0;">
        <a href="/forum/thread/5/13148/general-property-management/main-water-supply/">Main Water Supply <span style="color: #51BF55;">2 replies</span></a>
    </div>

    <div style="margin: 0 0 6px 0;">
        <a href="/forum/thread/3/14180/leasing-issues/non-refundable-check/">non refundable check <span style="color: #51BF55;">2 replies</span></a>
    </div>

</div>
