@model string

@{
    
}
@*<div>@Model</div>*@


@if (Model == "Contact")
{
    <div style="margin-bottom:9px;">
        <ul class="PulldownContainerInner">
            <li><a href="/faq.aspx" rel="nofollow">FAQ</a></li>
            <li><a href="/help/printing/" rel="nofollow">Document Printing Help</a></li>
            <li><a href="/forum/" rel="nofollow">ezLandlord Forum</a></li>
            @*<li><a href="/help/about-us/" rel="nofollow">About Us</a></li>*@
            <li><a href="/contact.aspx" rel="nofollow">Contact ezLandlordForms</a></li>
        </ul>

    </div>
}


