@model string

<div class="InfoColumnContainer" style="position: relative; cursor: pointer;" >
    <h2 style="color:#039; background-color:#fed01b; border-bottom: 3px solid #22419C; text-transform:uppercase; font-size:15px; line-height:17px;">Satisfaction<br />Guaranteed</h2>
    <img src="/images/layout2009/leftnav/satisfactions_seal.png"  width="89" height="66" alt="Money Back Guaranteed" style="margin-top:-51px; margin-left:109px;" />
    <div style="margin-top:-20px;">

        <div style="font-size:14px; line-height:17px;">
            Trusted by Over<br /><strong>300,000</strong> Property<br />Managers, Realtors,<br /> Attorneys, and Landlords<br />since 2006!
        </div>

        <a onclick="return false;" rel="nofollow">More Info</a>
    </div>
</div>
