@model string

<div class="InfoColumnContainer">
    <h2>Upgrade to Pro</h2>
    <ul class="CheckBullet">
        <li style="margin-bottom: 4px;">eSign and email</li>
        <li style="margin-bottom: 4px;">Access to print all of our forms</li>
        <li style="margin-bottom: 4px;">Unlimited downloads</li>
        <li style="margin-bottom: 4px;">Email your forms directly to your tenants</li>
        <li style="margin-bottom: 4px;">Your documents stored online, forever, accessible from anywhere</li>
        <li style="margin-bottom: 4px;">A 100% satisfaction guarantee - or your money back!</li>
    </ul>
    <a href="https://www.ezlandlordforms.com/join/?b=true" style="display: block; text-decoration: none; margin-left:-2px; margin-bottom:-3px;">
        <button type="button" class="BlueButton" style="width:189px; margin:0px; padding:4px;" onclick="location.href='https://www.ezlandlordforms.com/join/?b=true';">Upgrade Now</button>
    </a>
</div>
