@model EZLF.Models.ViewModels.TestViewModel
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>There are @Model.ActionCount Associates in the DB</h3>

<p>Use this area to provide additional information.</p>
