@model EZLF.Models.ViewModels.TestViewModel
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About ezLandlordForms</h1>
<div style="font-size: 12px; line-height: 17px; margin-bottom: 10px;">
    EzLandlordForms was founded in 2005 by Kevin Kiene, a landlord who finally decided
    that if no one else was going to build the perfect lease for him, he'd do it himself.
    Since the alpha version of the website launched in 2006, more than half a million
    landlords have discovered how much easier it can be to manage their properties,
    comply with state landlord tenant laws, and prevent unnecessary landlording headaches
    through ezLandlordForms.
</div>
<div class="AboutUsProfile">
    <img src="/images/help/about-us/headshot_kevin.jpg" width="120" height="179" alt="Kevin Kiene"
         style="float: left; margin-right: 30px;" />
    <h2 style="font-size: 13px; font-weight: bold; margin: 0; padding: 36px 0 0 0;">Kevin Kiene</h2>
    <div style="font-weight: bold;">
        Founder / CEO
    </div>
    Kevin is a long-time landlord and real estate investor, with a background in computer
    science and website management. In his spare time, he enjoys spending time with
    his family, supporting local automotive shows, and attending Philadelphia Flyers
    games.
    <div style="clear: both;">
    </div>
</div>
<div class="AboutUsProfile">
    <img src="/images/help/about-us/headshot_paul.jpg" width="120" height="160" alt="Paul Cohen, Esq."
         style="float: left; margin-right: 30px;" />
    <h2 style="font-size: 13px; font-weight: bold; margin: 0; padding: 36px 0 0 0;">Paul Cohen, Esq.</h2>
    <div style="font-weight: bold;">
        Legal Counsel
    </div>
    A veteran landlord-tenant and real estate attorney, Paul helped rewrite the Pennsylvania
    Landlord &amp; Tenant Act, and sits on the board of the National Apartment Association.
    He maintains a national network of landlord-tenant attorneys to stay abreast of
    state-specific landlord-tenant laws.
    <div style="clear: both;">
    </div>
</div>
<div class="AboutUsProfile">
    <img class="AboutUsProfileImage" src="/images/help/about-us/headshot_erica.jpg" alt="Erica Scott" />
    <h2 style="font-size: 13px; font-weight: bold; margin: 0; padding: 36px 0 0 0;">Erica Scott</h2>
    <div style="font-weight: bold;">
        Senior Project Coordinator
    </div>
    Erica grew up with and around real estate investors in her own family from her grandfather to her mother. You could say that the word “tenant” was one of her first words.
    Amongst her many interests and talents are photography, singing and most recently beginning her own real estate portfolio.
    <div style="clear: both;">
    </div>
</div>

<div class="AboutUsProfile">
    <img class="AboutUsProfileImage" src="/images/help/about-us/headshot_james.jpg" alt="James Laughlin, Esq." />
    <h2 style="font-size: 13px; font-weight: bold; margin: 0; padding: 36px 0 0 0;">
        James Laughlin, Esq.
    </h2>
    <div style="font-weight: bold;">
        General Counsel
    </div>
    James's practice includes a broad range of real estate experience including drafting residential and commercial leases and reviewing federal land leases.
    In his spare time, James enjoys reading and mountain biking.
    <div style="clear: both;"></div>
</div>

<div class="AboutUsProfile">
    <img class="AboutUsProfileImage" src="/images/help/about-us/headshot_dan.jpg" alt="Dan Pipito" />
    <h2 style="font-size: 13px; font-weight: bold; margin: 0; padding: 36px 0 0 0;">
        Dan Pipito
    </h2>
    <div style="font-weight: bold;">
        Digital Marketing Specialist
    </div>
    Dan hails from a fine arts background, with focus on illustration and design.
    He has enjoyed taking part in the growing digital world of social media, and would like to see the real estate industry benefit from this online audience.
    In his off time he works as an illustrator and enjoys sculpture and the culinary arts.
    <div style="clear: both;"></div>
</div>

<div class="AboutUsProfile">
    <img class="AboutUsProfileImage" src="/images/help/about-us/headshot_erin.jpg" alt="Erin Gourke" />
    <h2 style="font-size: 13px; font-weight: bold; margin: 0; padding: 36px 0 0 0;">
        Erin Gourke
    </h2>
    <div style="font-weight: bold;">
        Customer Relations
    </div>
    Erin’s expertise includes technology training, development, and communications.
    She has worked extensively in the fields of philanthropy and education.
    In her spare time, Erin enjoys music, reading, and sports.
    <div style="clear: both;"></div>
</div>
