@model EZLF.Models.FooterModel
@{
    Layout = null;
}
<footer class="footer">
    <div class="footer-logos">
        <a href="#">
            <img src="images/footer-logo-1.png"></img>
        </a>
        <a href="#">
            <img src="images/footer-logo-2.gif"></img>
        </a>
        <a href="#">
            <img src="images/footer-logo-3.png"></img>
        </a>
    </div>
    <div class="footer-text">
        <p>ez <a href="#">Landlord Forms</a> products and services are reviewed and approved by attorneys, accountants, fellow landlords, or industry experts.</p>
        <p>ez <a href="#">Landlord Forms</a> is not a law firm and our products and services are not a substitute for the advice of an attorney.</p>
        <p>Copyright © 2006-2017, ezLandlordForms LLC. All Rights Reserved. | <a href="#">Privacy Policy</a> | <a href="#">Terms & Conditions</a> | <a href="#">ezLandlordForms Affiliate Program</a></p>
    </div>
</footer>