@model EZLF.Models.FooterModel
@{
    Layout = null;
}

<div id="FeedbackOuter" >
    <div id="FeedbackInnerLoggedOut" style="margin-bottom:30px;">

        <div id="FeedbackBarLoggedOut">

            <div>
                <div id="ContactUs">

                    <img style="float: left; padding-right: 25px;" src="//www.ezlandlordforms.com/images/layout2013/home/graphic-footer-contact-us.png"  width="86" height="56" alt="Contact US - Live Assistance Avialable" />

                    <div style="padding-top: 7px;">
                        <a class="ContactTitle" href="/contact.aspx">Contact Us!</a>
                        <span class="ContactText">Live Assistance Available</span>
                    </div>

                </div>

                <div id="CallUs">

                    <img style="float: left; padding-right: 15px;" src="//www.ezlandlordforms.com/images/layout2013/home/graphic-footer-phone.png"  width="60" height="60" alt="Call us with questions or comments" />

                    <div style="padding-top: 7px;">
                        <span class="ContactTitle"><a href="tel:18773676771">1-877-367-6771</a></span>
                        <span class="ContactText">Call us with questions or comments</span>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div id="EndorsementsOuter">
    <div id="EndorsementsInner" style="margin-bottom:30px;">

        <div id="EndorsementsBar">
            <table>
                <tr>
                    <td style="position: relative; left: -10px;">
                        <img src="//www.ezlandlordforms.com/images/layout2013/home/logo-recommended-fox-business.png"  width="80" height="40" alt="Fox Business Logo" />
                    </td>
                    <td style="width: 280px;">
                        <img src="//www.ezlandlordforms.com/images/layout2013/home/logo-recommended-cbs-radio.png"  width="157" height="40" alt="CBS Radio Logo" />
                    </td>
                    <td style="width: 215px; text-align: left;">
                        <img src="//www.ezlandlordforms.com/images/layout2013/home/logo-recommended-msnbc-cropped.png"  width="150" height="30" alt="msnbc Logo" />
                    </td>
                    <td>
                        <img src="//www.ezlandlordforms.com/images/layout2013/home/logo-recommended-wsj.png"  width="240" height="40" alt="The Wall Street Journal - WSJ - Logo" />
                    </td>
                    <td style="width: 200px; text-align: right;">
                        <img src="//www.ezlandlordforms.com/images/layout2013/home/logo-recommended-cnnmoney-cropped.png"  width="150" height="30" alt="CNN Money Logo" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div id="FooterOuter">
    <div id="FooterInner">

        <div style="float: right;">
            <a href="//www.ezlandlordforms.com/pdfs/ezLandlordForms_Carbonfund_Certificate.pdf" rel="nofollow" target="_blank">
                <img src="//www.ezlandlordforms.com/images/layout2013/footer_carbonfree.png" alt="Carbon Free - CarbonFund.org" width="75" height="58" style="vertical-align: top;"  />
            </a>
            <a href="https://www.bbb.org/online/consumer/cks.aspx?id=109051414227" target="_blank" rel="nofollow">
                <img src="//www.ezlandlordforms.com/images/layout2013/footer-bbb-rating.gif" width="110" height="58" title="Click to verify BBB accreditation and to see a BBB report." alt="Click to verify BBB accreditation and to see a BBB report." style="vertical-align: top;" />
            </a>
            <a href="#" onclick="window.open('https://www.sitelock.com/verify.php?site=ezlandlordforms.com','SiteLock','width=600,height=600,left=160,top=170');"><img alt="website security" title="SiteLock" height="56" width="98" style="border:1px solid black; border-radius:7px;" src="https://shield.sitelock.com/shield/ezlandlordforms.com" /></a>
        </div>
        ez <a href="/" style="color: #666666;">Landlord Forms</a> products and services are reviewed and approved by attorneys, accountants, fellow landlords, or industry experts.<br />
        ez <a href="/documents/" style="color: #666666;">Landlord Forms</a> is not a law firm and our products and services are not a substitute for the advice of an attorney.<br />
        Copyright &copy; 2006-2017, ezLandlordForms LLC. All Rights Reserved. | <a href="/privacypolicy.aspx" rel="nofollow" target="_blank">Privacy Policy</a> | <a href="/termsconditions.aspx" rel="nofollow" target="_blank">Terms &amp; Conditions</a> | <a href="/affiliates/signup/">ezLandlordForms Affiliate Program</a><br />
        <br />
    </div>
</div>
	