@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


   
    <div class="hero-container variant1">
        <div class="variations variant1">
            <div class="hero-image">
                <h1>Free Lease &amp; Rental Forms</h1>
                <ul class="fa-ul options">
                    <li>
                        <i class="fa-li fa fa-chevron-right"></i>
                        <a href="https://www.ezlandlordforms.com/documents/rental-lease-agreements/">Create Lease</a>
                    </li>
                    <li>
                        <i class="fa-li fa fa-chevron-right"></i>
                        <a href="https://www.ezlandlordforms.com/tenant-screening-services/">
                            Tenant Screening
                        </a>
                    </li>
                    <li>
                        <i class="fa-li fa fa-chevron-right"></i>
                        <a href="https://www.ezlandlordforms.com/documents/rental-application-forms/">Rental Application</a>
                    </li>
                    <li>
                        <i class="fa-li fa fa-chevron-right"></i>
                        <a href="https://www.ezlandlordforms.com/documents/free-landlord-forms/">100&#8217;s of Forms</a>
                    </li>
                </ul>
                <div class="call-to-action-container">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="https://www.ezlandlordforms.com/documents/rental-lease-agreements/" class="cta-button">
                                Create Lease
                            </a>
                        </div>
                        <div class="col-md-8">
                            <p class="cta-text">
                                FREE Lease Agreement Available <br>
                                State Specific Lease with eSign just $29.95
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="variations variant2">
            <div class="hero-image">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Make Landlording <i>EZ</i></h1>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="hero-text">
                                    State Specific Lease with eSign<br>
                                    Tenant Screening
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p class="hero-text">
                                    Paperless Rental Application<br>
                                    100&#8217;s of Landlord Forms
                                </p>
                            </div>
                        </div>
                        <a href="https://www.ezlandlordforms.com/documents/rental-lease-agreements/" class="cta-button">
                            Lease Agreement&#8217;ss
                        </a>
                    </div>
                </div>
            </div>
            <div class="selling-points">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <span class="icon-circle">
                                    <img src="/images/layout2016/e-sign-icon.png" class="icon" />
                                </span>
                            </div>
                            <div class="col-md-8">
                                <h3>
                                    eSign Leases
                                </h3>
                                <p class="description">
                                    Sign leases electronically - no printing needed<br>
                                    Signed leases are saved to your account
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <span class="icon-circle">
                                    <img src="/images/layout2016/forms-icon.png" class="icon" />
                                </span>
                            </div>
                            <div class="col-md-8">
                                <h3>
                                    Free Forms &amp; lease
                                </h3>
                                <p class="description">
                                    Free and State Specific lease forms available<br>
                                    Free Rental Application and more
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <span class="icon-circle">
                                    <img src="/images/layout2016/satisfaction-icon.png" class="icon" />
                                </span>
                            </div>
                            <div class="col-md-8">
                                <h3>
                                    100% Satisfaction
                                </h3>
                                <p class="description">
                                    You&#8217;ll love our Pro accounts, we guarantee it.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="variations variant0">
            <div class="HomeDocsList">
                <h3 style="white-space: nowrap;">
                    Over 347 Professional Legal Forms!
                </h3>
                <ul style="margin: 15px 20px;">
                    <li>
                        <a href="/documents/free-landlord-forms/"><div>Free Documents</div></a>
                    </li>
                    <li>
                        <a href="/documents/state-specific/"><div>State-Specific Forms</div></a>
                    </li>
                    <li>
                        <a href="/documents/rental-application-forms/"><div>Rental Application Forms</div></a>
                    </li>
                    <li>
                        <a href="/documents/rental-lease-agreements/" rel="nofollow"><div>Leasing / Move In</div></a>
                    </li>
                    <li>
                        <ul>
                            <li><a href="/documents/rental-lease-agreements/"><div>Rental / Lease Agreements</div></a></li>
                            <li><a href="/documents/addenda/"><div>Addenda</div></a></li>
                            <li><a href="/documents/disclosures/"><div>Disclosures</div></a></li>
                            <li><a href="/documents/information-documents/"><div>Information Documents</div></a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="/documents/notices-to-tenants/" rel="nofollow"><div>Tenant Notice Letters</div></a>
                        <ul>
                            <li><a href="/documents/notices-to-tenants/"><div>Notices to Tenants</div></a></li>
                            <li><a href="/documents/violation-notices/"><div>Violation Notices</div></a></li>
                            <li><a href="/documents/late-notices/"><div>Late Notices</div></a></li>
                            <li><a href="/documents/eviction-notice-templates/"><div>Eviction Notices</div></a></li>
                        </ul>

                    </li>
                    <li>
                        <a href="/documents/move-out/"><div>Move Out</div></a>
                    </li>
                    <li>
                        <a href="/documents/management-documents/" rel="nofollow"><div>General Management</div></a>
                    </li>
                    <li>
                        <ul>
                            <li>
                                <a href="/documents/management-documents/"><div>Management Documents</div></a>
                            </li>
                            <li>
                                <a href="/documents/envelopes-and-labels/"><div>Envelopes / Labels</div></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="HomeContent2" class="homeContent">
                <div class="middleColumn">
                    <h1>
                        Free Lease<br />& Rental Forms
                    </h1>
                    <ul class="ArrowBullet">
                        <li>
                            <a href="/documents/free-lease-agreement-forms-41050/">Free Lease Agreement</a>
                        </li>
                        <li>
                            <a href="/documents/free-rental-application-form-12/">Free Rental Application</a>
                        </li>
                        <li>
                            <a href="/documents/rent-receipt-17/">Free Paperless Rental Application</a>
                        </li>
                        <li>
                            <a href="/documents/free-landlord-forms/">All Free Landlord Forms</a>
                        </li>
                        <li class="ArrowBulletGreen">
                            <a href="/tenant-screening-services/">Tenant Credit/Criminal Check</a>
                        </li>
                    </ul>
                </div>
                <div class="cta-container">
                    <a href="/wizards/leases/residential/" class="btn-feature">

                        <span class="btn-feature-content">
                            <span class="btn-feature-txt-main">
                                Create Lease
                            </span>
                            <span class="btn-feature-txt-byline">
                                - FREE Lease Agreement Available
                                <br />
                                - State-Specific Lease Package just $29
                                <sup>
                                    95
                                </sup>
                            </span>
                        </span>

                    </a>
                </div>
            </div>
            <div class="satisfaction-guarantee-btn" onclick="ShowGuaranteeDetails();">
                <div class="SatisfactionGuarantee">
                    <p class="Description">
                        Trusted by over <strong>2.3 million</strong> landlords & property managers <strong>since 2006!</strong>
                    </p>
                    <img class="SealBackground" src="/images/layout2013/home/graphic-home-satisfaction-new.png"  alt="Trusted by Over 300,000 Property Managers, Realtors, Attorneys, and Landlords since 2006!" width="332" height="97" />
                </div>
            </div>
        </div>
    </div>

    <div class="testimonials-container variant1">
        <div class="variations variant1">
            <div class="row">
                <div class="col-md-12">
                    <h2>What our customers are saying</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- TrustBox widget -->
                    <div class="trustpilot-widget" data-locale="en-US" data-template-id="53aa8912dec7e10d38f59f36" data-businessunit-id="4be089b40000640005078c6c" data-style-height="130px" data-style-width="100%" data-theme="light" data-stars="1,2,3,4,5">
                    </div>
                    <!-- End TrustBox widget -->
                </div>
            </div>
        </div>
        <div class="variations variant2">
            <div class="row">
                <div class="col-md-12">
                    <h2>What our customers are saying</h2>
                    <hr class="divider">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- TrustBox widget -->
                    <div class="trustpilot-widget" data-locale="en-US" data-template-id="53aa8912dec7e10d38f59f36" data-businessunit-id="4be089b40000640005078c6c" data-style-height="130px" data-style-width="100%" data-theme="dark" data-stars="1,2,3,4,5">
                    </div>
                    <!-- End TrustBox widget -->
                </div>
            </div>
        </div>
   
    </div>



<hr class="home-divider" />
<div class="HomeRow3">
    <div class="feature-container">

        <a href="/tenant-screening-services/">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <h3>
                            Tenant Screening:
                            <br />
                            Full Credit Reports &amp; Nationwide Criminal Checks
                        </h3>
                    </td>
                    <td style="text-align: right;">
                        <img src="/images/layout2013/home/img-cell-tenantscore.png" width="68" height="55" alt="Transunion Tenant Screening" />
                    </td>
                </tr>
            </table>
            <div style="color: #333;">
                EZ Landlord Forms cut out the middleman and <b>partnered directly with credit bureau Transunion</b> to offer full credit reports and criminal checks.
            </div>
            Get Started >
        </a>




    </div>
    <div class="feature-container">
        <a href="/articles/landlord-tenant-laws/">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <h3>
                            Pennsylvania's Laws, Explained
                        </h3>
                    </td>
                    <td style="text-align: center; width: 90px;">
                        <img src="/images/layout2009/states/state_PA.gif" width="69" height="43" alt="Pennsylvania" />
                    </td>
                </tr>
            </table>
            <div style="color: #333;">
                All 50 states have their own unique landlord laws, so we compiled summaries for each state, and publish updates as laws change.
            </div>
            Get Started >
        </a>
    </div>
    <div class="feature-container">
        <a href="/faq.aspx" style="text-decoration: none !important;">
            <img src="/images/layout2013/home/graphic-home-questions-smaller.png" height="65" width="78" style="float: right;" />
            <h3>Have Questions?</h3>
        </a>

        ...about ezLandlordForms' website:
        <div style="padding-left: 10px; margin-bottom:5px;">
            <a href="/contact.aspx">Chat with Us</a>
        </div>
        ...about legal issues:
        <div style="padding-left: 10px; margin-bottom:5px;">
            <a href="/forum/">Ask our Community</a> or <a href="/real-estate-attorneys/">Find a Local Attorney</a>
        </div>
        ...about managing properties:
        <div style="padding-left: 10px;">
            View Our <a href="/articles/new-landlord-guide/">New Landlord Guide</a>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>






<div style="height: 1px; border-bottom: 1px solid #aaa; margin-bottom: 15px; margin-top: 10px;"></div>

<div class="recent-articles-container">
    <a href="/articles/news/" class="section-header">
        Recent Real Estate Investing Articles
    </a>


    <div class="recent-article">

        <div id="ctl00_mainContent_RepeaterMediumPreview_ctl00_PanelSmallImageOnLeft">

            <div class="thumbnail" style="">
                <img src="//www.ezlandlordforms.com/media/articles/655/thumbnails/Stage_Your_Rental_So_the_Best_Tenants_Find_You_SQUARE-small.jpg?v=142127"
                     class="articlethumbnail" height="75" width="75" alt="Stage_Your_Rental_So_the_Best_Tenants_Find_You_SQUARE"  />
            </div>

        </div>
        <div style="margin-left: 100px;">
            <div class="articletitlemedium">
                <a style="text-decoration: none;" href="/articles/educational/5/655/stage-your-rental-so-the-best-tenants-find-you/">
                    Stage Your Rental So the Best Tenants Find You
                </a>
            </div>

            <div class="articlepreview" style="padding-top: 10px; line-height: 16px;">
                <p>It&#39;s so easy for landlords to get the word out when they have a unit for rent. They simply post a description and photos online &ndash; usually for free &ndash; and get a world of tenants at their fingertips.</p> <p>Why, then, are online rental ads often so unappealing?</p> <p>Go ahead; choose any neighborhood, enter a few parameters and start going through the photos that pop up.</p> <p>Harrisburg, Pa. apartment complex: Two of the three shots<span style="white-space:nowrap;">&hellip; <a href="/articles/educational/5/655/stage-your-rental-so-the-best-tenants-find-you/">Read More &raquo;</a></span></p>
            </div>
        </div>
    </div>



    <div class="recent-article">

        <div id="ctl00_mainContent_RepeaterMediumPreview_ctl01_PanelSmallImageOnLeft">

            <div class="thumbnail" style="">
                <img src="//www.ezlandlordforms.com/media/articles/653/thumbnails/My_Tenant_Backed_Out_Now_What_V1_SQUARE-small.jpg"
                     class="articlethumbnail" height="75" width="75" alt="My_Tenant_Backed_Out_Now_What_V1_SQUARE"  />
            </div>

        </div>
        <div style="margin-left: 100px;">
            <div class="articletitlemedium">
                <a style="text-decoration: none;" href="/articles/educational/3/653/my-tenant-backed-out-of-the-lease-now-what/">
                    My Tenant Backed Out of the Lease - Now What?
                </a>
            </div>

            <div class="articlepreview" style="padding-top: 10px; line-height: 16px;">
                <p>You gathered a pile of applications for your rental property. You narrowed it to several finalists and, after screening a few backgrounds, you finally settled on the best candidate for your next tenant.</p> <p> </p> <p>Now, that tenant is backing out of the lease at the very last minute. What should you do, besides tearing your hair out?</p> <p> </p> <p>It depends on whether or not the tenant signed your lease agreement, and whether you<span style="white-space:nowrap;">&hellip; <a href="/articles/educational/3/653/my-tenant-backed-out-of-the-lease-now-what/">Read More &raquo;</a></span></p>
            </div>
        </div>
    </div>



    <div class="recent-article">

        <div id="ctl00_mainContent_RepeaterMediumPreview_ctl02_PanelSmallImageOnLeft">

            <div class="thumbnail" style="">
                <img src="//www.ezlandlordforms.com/media/articles/652/thumbnails/Why_Does_Eviction_Take_So_Long_SQUARE-small.jpg"
                     class="articlethumbnail" height="75" width="75" alt="Why_Does_Eviction_Take_So_Long_SQUARE"  />
            </div>

        </div>
        <div style="margin-left: 100px;">
            <div class="articletitlemedium">
                <a style="text-decoration: none;" href="/articles/educational/4/652/why-does-eviction-take-so-long/">
                    Why Does Eviction Take So Long?
                </a>
            </div>

            <div class="articlepreview" style="padding-top: 10px; line-height: 16px;">
                <p>You want your tenants out and you want them out today. You have been more than patient, your tenants are taking advantage of you, and things are only going to get worse.</p> <p> </p> <p>So, why can&#39;t you just kick them out immediately? Wouldn&#39;t any judge understand that eviction is appropriate under these typical scenarios?</p> <p> </p> <p>&bull; Tenants haven&#39;t paid rent in months.</p> <p>&bull; Tenants let other people move in and never told you<span style="white-space:nowrap;">&hellip; <a href="/articles/educational/4/652/why-does-eviction-take-so-long/">Read More &raquo;</a></span></p>
            </div>
        </div>
    </div>


</div>

<div class="rental-resources-container">

    <div style="height: 1px; border-bottom: 1px solid #aaa; margin-top: 20px;"></div>


    <div style="font-family: Segoe UI, Helvetica, Tahoma, Arial, sans-serif; font-size: 20px; color: #3366cc; padding-top: 20px; text-align:center;">
        Rental Resources for Each State
    </div>

    <p style="text-align: center;">
        Click the state below to view rental forms, landlord-tenant attorneys, real estate investing clubs, articles and more for that state!
    </p>

    <div style="text-align: center; font-weight: bold; font-size: 12px;">
        See featured state-specific resources:
        <div style="text-align: center;">
            <div style="margin: 0 auto; width: 600px;">

                <a href="/alaska/">AK</a>&nbsp;

                <a href="/alabama/">AL</a>&nbsp;

                <a href="/arkansas/">AR</a>&nbsp;

                <a href="/arizona/">AZ</a>&nbsp;

                <a href="/california/">CA</a>&nbsp;

                <a href="/colorado/">CO</a>&nbsp;

                <a href="/connecticut/">CT</a>&nbsp;

                <a href="/district-of-columbia/">DC</a>&nbsp;

                <a href="/delaware/">DE</a>&nbsp;

                <a href="/florida/">FL</a>&nbsp;

                <a href="/georgia/">GA</a>&nbsp;

                <a href="/hawaii/">HI</a>&nbsp;

                <a href="/iowa/">IA</a>&nbsp;

                <a href="/idaho/">ID</a>&nbsp;

                <a href="/illinois/">IL</a>&nbsp;

                <a href="/indiana/">IN</a>&nbsp;

                <a href="/kansas/">KS</a>&nbsp;

                <a href="/kentucky/">KY</a>&nbsp;

                <a href="/louisiana/">LA</a>&nbsp;

                <a href="/massachusetts/">MA</a>&nbsp;

                <a href="/maryland/">MD</a>&nbsp;

                <a href="/maine/">ME</a>&nbsp;

                <a href="/michigan/">MI</a>&nbsp;

                <a href="/minnesota/">MN</a>&nbsp;

                <a href="/missouri/">MO</a>&nbsp;

                <a href="/mississippi/">MS</a>&nbsp;

                <a href="/montana/">MT</a>&nbsp;

                <a href="/north-carolina/">NC</a>&nbsp;

                <a href="/north-dakota/">ND</a>&nbsp;

                <a href="/nebraska/">NE</a>&nbsp;

                <a href="/new-hampshire/">NH</a>&nbsp;

                <a href="/new-jersey/">NJ</a>&nbsp;

                <a href="/new-mexico/">NM</a>&nbsp;

                <a href="/nevada/">NV</a>&nbsp;

                <a href="/new-york/">NY</a>&nbsp;

                <a href="/ohio/">OH</a>&nbsp;

                <a href="/oklahoma/">OK</a>&nbsp;

                <a href="/oregon/">OR</a>&nbsp;

                <a href="/pennsylvania/">PA</a>&nbsp;

                <a href="/rhode-island/">RI</a>&nbsp;

                <a href="/south-carolina/">SC</a>&nbsp;

                <a href="/south-dakota/">SD</a>&nbsp;

                <a href="/tennessee/">TN</a>&nbsp;

                <a href="/texas/">TX</a>&nbsp;

                <a href="/utah/">UT</a>&nbsp;

                <a href="/virginia/">VA</a>&nbsp;

                <a href="/vermont/">VT</a>&nbsp;

                <a href="/washington/">WA</a>&nbsp;

                <a href="/wisconsin/">WI</a>&nbsp;

                <a href="/west-virginia/">WV</a>&nbsp;

                <a href="/wyoming/">WY</a>&nbsp;

            </div>
        </div>
    </div>








</div>

<div style="height: 1px; border-bottom: 1px solid #aaa; margin-top: 20px; margin-bottom: 20px;"></div>

<div class="who-we-are-container">
    <div id="ctl00_mainContent_WhoWeAre" style="padding-bottom: 20px;">

        <div style="line-height: 22px; border: 8px solid Gray; clear: both;">

            <img src="//www.ezlandlordforms.com/images/home/betterLandlord.jpg" style="width: 400px; height: 400px; float: left;"  alt="EZ Landlord Forms team members sign lease agreements, screen tenants and invest in rental properties." />
            <div style="margin-left: 400px; padding: 25px;">

                <div style="font-family: Helvetica, Tahoma, Arial, sans-serif; font-size: 38px; padding-top: 20px; margin-bottom: 30px; text-align: justify; font-weight: bold; color: #039;">
                    Become a Better Landlord
                </div>
                <p style="font-size: 17px;">
                    For over 10 years, millions of people have trusted our expertise to guide them in becoming professional landlords.
                    We understand the challenges people face when they begin renting for the first time.
                    After all, we have been there too! Start by checking your applicant's credit score and set a high standard for acceptance.
                    Proceed with a detailed Lease Agreement which spells out each party's responsibilities. Finally, create an eviction plan in case a tenant stops paying rent.
                    And if anything goes wrong, allow us to help you with problem situations. Thank you for allowing us to be on your team!
                </p>

                <div style="font-family: 'Norican', cursive; font-size: 30px; line-height: 30px; color: #039; float: right;">
                    - Kevin Kiene
                </div>
                <div style="clear: right; float: right; font-family: Helvetica, Tahoma, Arial, sans-serif; font-size: 13px; font-weight: bold; font-style: italic;">Founder, ezLandlordForms.</div>


            </div>
            <div style="clear: both;"></div>
        </div>

    </div>
</div>

