@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<!-- start Promo Section -->
<section class="promo-section">
    <h1 class="title">Free Lease & Rental Forms</h1>

    <ul class="advantages">
        <li>Create Lease</li>
        <li>Tenant Screening</li>
        <li>Rental Application</li>
        <li>100’s of Forms</li>
    </ul>

    <div class="button-box">
        <a href="#" class="btn btn-lg btn-blue-shaded">Get Started</a>
        <div class="text">
            <p>FREE Lease Agreement Available</p>
            <p>State-Specific Lease Package just $29.95</p>
        </div>
    </div>
</section>
<!-- end Promo Section -->
<!-- start Customers Reviews Section -->
<section class="customers-reviews">
    <h2 class="title">
        What our customers are saying
    </h2>
    <div class="row">
        <div class="col-sm-3">

            <!-- start Excellent Section -->
            <div class="excellent">
                <div class="title">Excellent</div>
                <ul class="stars">
                    <li><span class="fa fa-star" aria-hidden="true"></span></li>
                    <li><span class="fa fa-star" aria-hidden="true"></span></li>
                    <li><span class="fa fa-star" aria-hidden="true"></span></li>
                    <li><span class="fa fa-star" aria-hidden="true"></span></li>
                    <li><span class="fa fa-star" aria-hidden="true"></span></li>
                </ul>
                <div class="text">
                    Based on <span>1,602</span> reviews.
                    See some of the reviews here.
                </div>
                <div class="logo">
                    <img src="images/excellent-logo.png" alt="">
                </div>
            </div>
            <!-- end Excellent Section -->

        </div>
        <div class="col-sm-9">

            <!-- start Slider Section -->
            <div class="slider owl-carousel owl-theme">

                <!-- start Slide box -->
                <div class="slide-box">
                    <div class="head">
                        <ul class="stars">
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                        </ul>
                        <div class="time">21 hours ago</div>
                    </div>
                    <div class="title">Cool!</div>
                    <div class="text">Very ease and fast to usel!</div>
                    <div class="author">Radha Mahesram</div>
                </div>
                <!-- end Slide box -->
                <!-- start Slide box -->
                <div class="slide-box">
                    <div class="head">
                        <ul class="stars">
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                        </ul>
                        <div class="time">24 hours ago</div>
                    </div>
                    <div class="title">Convinient</div>
                    <div class="text">I have been using this website for my house rentals and my tenants get impressed with these document...</div>
                    <div class="author">Martha Esparza</div>
                </div>
                <!-- end Slide box -->
                <!-- start Slide box -->
                <div class="slide-box">
                    <div class="head">
                        <ul class="stars">
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                        </ul>
                        <div class="time">41 hours ago</div>
                    </div>
                    <div class="title">Like this site</div>
                    <div class="text">This is the site I use for my lease needs.</div>
                    <div class="author">Jerry Ray Carrasco</div>
                </div>
                <!-- end Slide box -->
                <!-- start Slide box -->
                <div class="slide-box">
                    <div class="head">
                        <ul class="stars">
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                        </ul>
                        <div class="time">21 hours ago</div>
                    </div>
                    <div class="title">Cool!</div>
                    <div class="text">Very ease and fast to usel!</div>
                    <div class="author">Radha Mahesram</div>
                </div>
                <!-- end Slide box -->
                <!-- start Slide box -->
                <div class="slide-box">
                    <div class="head">
                        <ul class="stars">
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                        </ul>
                        <div class="time">24 hours ago</div>
                    </div>
                    <div class="title">Convinient</div>
                    <div class="text">I have been using this website for my house rentals and my tenants get impressed with these document...</div>
                    <div class="author">Martha Esparza</div>
                </div>
                <!-- end Slide box -->
                <!-- start Slide box -->
                <div class="slide-box">
                    <div class="head">
                        <ul class="stars">
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                            <li><span class="fa fa-star" aria-hidden="true"></span></li>
                        </ul>
                        <div class="time">41 hours ago</div>
                    </div>
                    <div class="title">Like this site</div>
                    <div class="text">This is the site I use for my lease needs.</div>
                    <div class="author">Jerry Ray Carrasco</div>
                </div>
                <!-- end Slide box -->

            </div>
            <!-- end Slider Section -->
        </div>
    </div>
</section>
<!-- end Customers Reviews Section -->
<!-- start Slider Сapability Section -->
<section class="slider-capability-section">
    <div class="slider-capability owl-carousel owl-theme">

        <!-- start Slide box -->
        <div class="slide-box">
            <div class="images">
                <img src="images/promo-comment-img-1.png"></img>
            </div>
            <div class="title">Tenant Screening</div>
            <div class="text">
                EZ Landlord Forms cut out the middleman and partnered directly with credit bureau Transunion to offer full credit reports and criminal checks.
            </div>
            <div class="button-box">
                <a href="#" class="btn btn-lg btn-green">Get Started</a>
            </div>
        </div>
        <!-- end Slide box -->
        <!-- start Slide box -->
        <div class="slide-box">
            <div class="images">
                <img src="images/promo-comment-img-2.png"></img>
            </div>
            <div class="title">Your State’s Laws, Explained</div>
            <div class="text">
                All 50 states have their own unique landlord laws, so we compiled summaries for each state, and publish updates as laws change.
            </div>
            <div class="button-box">
                <a href="#" class="btn btn-lg btn-green">Get Started</a>
            </div>
        </div>
        <!-- end Slide box -->
        <!-- start Slide box -->
        <div class="slide-box">
            <div class="images">
                <img src="images/promo-comment-img-3.png"></img>
            </div>
            <div class="title">Have questions?</div>
            <div class="text">
                EZ Landlord Forms cut out the middleman and partnered directly with credit bureau Transunion to offer full credit reports and criminal checks.
            </div>
            <div class="button-box">
                <a href="#" class="btn btn-lg btn-green">Get Started</a>
            </div>
        </div>
        <!-- end Slide box -->

    </div>

</section>
<!-- end Slider Section -->
<!-- start Promo Comment Section -->
<section class="promo-comment-section">
    <div class="holder">
        <h2 class="title">Become a Better Landlord</h2>
        <div class="text">
            For over 10 years, millions of people have trusted our expertise to guide them in becoming professional landlords. We understand the challenges people face when they begin renting for the first time. After all, we have been there too! Start by checking your applicant’s credit score and set a high standard for acceptance. Proceed with a detailed Lease Agreement which spells out each party’s responsibilities. Finally, create an eviction plan in case a tenant stops paying rent. And if anything goes wrong, allow us to help you with problem situations. Thank you for allowing us to be on your team!
        </div>
        <div class="author">Kevin Kiene, Founder</div>
    </div>
</section>
<!-- end Promo Comment Section -->