body {
   
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#main {
        min-height: 800px;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-flow: row;
        background-color: #FFFFFF;
    }
 
    #main > Content {
        margin: 4px;
        padding: 5px;
        /*border: 1px solid #cccc33;
        border-radius: 7pt;*/
        
        flex: 3 1 60%;
        order: 2;
    }

    #main > nav {
        margin: 4px;
         margin-left:150px;
        padding: 5px;
        /*border: 1px solid #8888bb;
        border-radius: 7pt;*/
       
        flex: 1 6 20%;
        order: 1;
    }
  
    #main > aside {
        margin: 4px;
        padding: 5px;
        /*border: 1px solid #8888bb;
        border-radius: 7pt;*/
       
        flex: 1 6 20%;
        order: 3;
    }